*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 60px;
}


header .block{
    height: 40px;
    background-color: blueviolet;
}


.bg-blue{
    background-color: #303E4E;
}

header .row-h{
    height: 60px;
}

header [class*="col-"]{
    line-height: 40px;
    vertical-align: middle;
}


@media screen and (min-width:768px) {
    .hidden{
        display: block;
    }
}
/* first */


.bg-turq{
    background-color: #53AF95;
    color: white;
}

.first .icon::before,
.first .icon::after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    border-radius: 1em;
}


.first .block{
    height: 250px;
    background-color: blueviolet;
    margin-bottom: 1rem;
}

.first .text{
    height: 40px;
    background-color: darkred;
    margin-bottom: .5rem;
}

/* second */

.second .icon::before,
.second .icon::after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    border-radius: 1em;
}

.second .block{
    position: relative;
}

.bg-op{
    background-color: #53AF95 ;
    position: relative;
    z-index: 10;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.bg-op .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    display: none;
}

.second .text{
    height: 40px;
    background-color: darkred;
}
.second img{
    width: 100%;
}

.second .bg-op:hover img{
    opacity: .2;
    cursor: pointer;
}

.bg-op:hover .fas{
    display: inline-block;
    cursor: pointer;

}

/* third */

.third .icon::before,
.third .icon::after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    border-radius: 1em;
}

.third .btn:focus{
    box-shadow: none;

}

/* fourth */

.fourth .icon::before,
.fourth .icon::after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    border-radius: 1em;
}

.fourth .text{
    height: 40px;
    background-color: darkred;
}

.fourth .input-border{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}

.input-border:focus{
    border-color: #86b7fe;
    box-shadow: none;
}

.fourth .bg-turq{
    border: none;
}

.fourth .bg-turq:hover{
    background-color: #458f7a;
}

.fourth .bg-turq:focus{
    box-shadow: none;
}

.fourth .bg-turq:focus-within{
    background-color: #458f7a;

}


/* footer */

footer .text{
    height: 40px;
    background-color: darkred;
}

